body{
    background-color: rgb(255, 255, 255);
}

#container{
    background-color: rgba(236, 236, 243, 0.897);
    width: 300px;
    padding: 10px;
    border: 5px #CCC solid;
    border-radius: 15px;
}

#formTitle{
    font-family: cursive;
}

form{
    padding: 5px;
    font-family: monospace;
    font-size: x-large;
}

input, button{
    border: 5px #CCC solid;
    border-radius: 15px;
    background-color: #fff;
    color: #000;
}

.error{
    color: red;
    font-size: small;
}
